@{
    ViewBag.Title = "About Us";
}  

<h2>About</h2>
<p>
<canvas id="TestCanvas" width="200" height="200" style="border:10px solid #0000FF;">
Canvas is not working
</canvas>
</p>

<script type="text/javascript">
    var c = document.getElementById("TestCanvas");
    var ctx = c.getContext("2d");

    var FPS = 30;
    
    //forward direction
    var direction = true ;
    var BallX = 0;
    var BallY = 0;

    setInterval(function () {
        update();
        draw();
    }, 1000 / FPS);

    function update() {

        if (direction) 
        {
            BallX += 2;
            BallY += 2;
            if (BallX > 200) {
                direction = false;
            }
        }
        else
        {
            BallX -= 2;
            BallY -= 2;
            if (BallX < 0) {
                direction = true;
            }
        }
       
    }

    function draw() {
        ctx.clearRect(0, 0, 200, 200);
        ctx.fillStyle = "#FF0000";
        ctx.beginPath();
        ctx.arc(BallX, BallY, 10, 0, Math.PI * 2, true);
        ctx.closePath();
        ctx.fill();
    }
</script>



