<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>BABYLON - Collisions</title>

    <!--Loading babylon engine -->
    <script src="../hand.js"></script>
    <script src="../babylon.js"></script>
    
    <!--Loading camera tuto-->
    <script src="mainTutos.js"></script>
    <script src="collisions.js"></script>


    <!-- CSS -->
    <!-- ------ -->
    <style>
        html, body, div, canvas {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
    </style>

</head>

<!-- BODY -->
<!-- ------ -->
<body>

    <div id="rootDiv">
        <!-- Main Canvas -->
        <canvas id="renderCanvas"></canvas>
    </div>

</body>
</html>
