html, body {
	height: 100%;
}

body {
/* background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px; */
	background-color: #A8A8A8;
	background-image: linear-gradient(335deg, #242424 23px, transparent 23px),
	linear-gradient(155deg, #282828 23px, transparent 23px),
	linear-gradient(335deg, #242424 23px, transparent 23px),
	linear-gradient(155deg, #282828 23px, transparent 23px);
	background-size: 58px 58px;	
	background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
.container {
    background-color:white;
	background-image: linear-gradient(0deg, #777777, #EEEEEE);
}

.menu-container {
	position: absolute;
	border: none;
	border-width: 0px;
	width: 200px;
	height: 50%;
	top: 10%;
}

.menu-options {
	position: inherit;
	background-color:rgba(240,240,240,0.90);
	width: 160px;
	height: 100%;
	visibility: visible;
	padding: 8px;
	border-radius: 5px;
}

.menu-tab {
	position: absolute;
	right: 0px;
	background-color: grey;
	border-radius: 0px 5px 5px 0px;
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
	border-color: white;
	width:40px;
	padding: 2px;
	text-align: center;
	box-shadow: 3px 3px 4px #000000;
}
/* Wrapper for page content to push down footer */
#main-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

.container-custom {
	border: solid;
	border-color: #282828;
	border-width: 0px;
	height: 86%;
	width: 92%;
	position: absolute;
	margin-left: 4%;
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 8px;
	-moz-box-shadow: 3px 3px 4px #000000;
	-webkit-box-shadow: 3px 3px 4px #000000;
	box-shadow: 3px 3px 4px #000000;
}

.row-custom {
	position: absolute; 
	width: 100%;
	height: 100%;
	border: none;
	border-color: black;
	border-radius: 8px;
}

.col-custom {
	height: inherit;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
}

.party-info{
	height: inherit;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
}

.interactive {
	height: 72%;
	color: white;
	background-color: #282828;
	border: solid;
	border-width: 1px;
	border-color: #282828;
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	margin: auto;
}

.chat {
	height: 20%;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: #A8A8A8;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
}

.character-display{
	height: 98.5%;
	width: 24.5%;
	float: right;
	padding: 5px 5px 5px 5px;
	margin: 2px 2px 0px 0px;
}

.character-display-inner {
	height: inherit;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
}

.character-icon {
	background-color:rgba(20,20,20,0.5);
	height: 30%;
	padding: 4px 4px 4px 4px;
	border-left: solid;
	border-color: white;
	border-radius: 3px 5px 0px 0px;
}

.character-img {
	display: block;
	margin: auto;
	width: inherit;
	height: 100%;
	border: solid;
	border-width: 1.5px;
	border-radius: 20px;
}

.character-info {
	background-color:rgba(20,20,20,0.5);
	height: 70%;
	padding: 5px 5px 5px 20px;
	border-left: solid;
	border-color: white;
	border-radius: 0px 0px 5px 3px;
}

.character-hide {
	position: absolute;
	left: 0px;
	top: 42%;
	height: 76px;
	background-color: grey;
	border-radius: 5px;
	border: solid;
	border-color: white;
	width:20px;
	padding: 0px;
	padding-left: 2px;
	text-align: center;
}

.character-hide-circle {
	position: relative;
	height: 10px;
	width: 10px;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid;
	border-radius:8px;
}

.footer {
	height: 8%;
	width: 92%;
	position: absolute;
	bottom: 2%;
	padding: 5px;
	padding-top: 8px;
	margin-left: 4%;
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 8px;
	-moz-box-shadow: 3px 3px 4px #000000;
	-webkit-box-shadow: 3px 3px 4px #000000;
	box-shadow: 3px 3px 4px #000000;
}

.fill
{
    padding-bottom: 100px;
    margin-bottom: -100px;
}