html, body {
	height: 100%;
}

body {
	background-color: #FFFFFF;
}


/* Wrapper for page content to push down footer */
#main-container, .col-lg-3 {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

.footer-div {
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	border-radius: 5px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}