<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<system.serviceModel>
  <serviceHostingEnvironment xdt:Transform="RemoveAttributes(aspNetCompatibilityEnabled)">
    <baseAddressPrefixFilters>
      <add xdt:Transform="RemoveAttributes(prefix)" />
    </baseAddressPrefixFilters>
  </serviceHostingEnvironment>
  </system.serviceModel>-->
</configuration>