@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="#" class="brand">MD's DRAWWWWRINGS</a>
          <div class="nav-collapse">
              <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>
            <form class="navbar-search pull-left">
                <input id="msg" type="text" class="search-query" placeholder="Chat" />
                 <button  id="broadcast"  href="#"  class="btn">Submit</button>
            </form>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
<div class="container-fluid">
    <div class="row-fluid">
         <div id="canvascontainer" class="span9">
           
         </div><!--/span-->
        <div class="span3">
            <div class="sidebar-nav">
                <ul id="chathistory" class="nav nav-list">
                    <!--    <li class="nav-header">Sidebar</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>-->
                </ul>
                 
            </div><!--/.well -->
           
        </div><!--/span-->
       
    </div><!--/row-->



</div>    
    

 

   
