@{
    ViewBag.Title = "About Us";
}  

<h2>About</h2>
<p>
<canvas id="TestCanvas" width="200" height="200" style="border:10px solid #0000FF;">
Canvas is not working
</canvas>
</p>

<script type="text/javascript">
    var c = document.getElementById("TestCanvas");
    var ctx = c.getContext("2d");

    var FPS = 30;
    var textX = 50;
    var textY = 50;

    setInterval(function () {
        update();
        draw();
    }, 1000 / FPS);

    function update() {

        if (textX <= 60) 
        {
            textX += .2;
        }
        else if(textX > 60)
        {
            textX -= .2;
        }
        if (textY <= 60) {
            textY += .2;
        }
        else {
            textY -= .2;
        }
    }

    function draw() {
        ctx.clearRect(0, 0, 200, 200);
        ctx.fillStyle = "#000";
        ctx.font = "20pt Calibri";
        ctx.fillText("Sup Bra!", textX, textY);
    }
</script>



