@{
    ViewBag.Title = "About Us";
}  

<h2>About</h2>
<p>
<canvas id="TestCanvas" width="200" height="200" style="border:10px solid #0000FF;">
Canvas is not working
</canvas>
</p>

<script type="text/javascript">
    var c = document.getElementById("TestCanvas");
    var ctx = c.getContext("2d");

    var FPS = 30;
    
    //direction of ball
    var IsUp = false;
    var IsLeft = false;
    var BallX = 0;
    var BallY = 0;

    setInterval(function () {
        update();
        draw();
    }, 1000 / FPS);

    function update() {

        if (!IsUp) 
        {
            //Positive Y = down on screen
            BallY += 3;
            if (BallY > 204) {
                IsUp = true ;
            }
        }
        else
        {
            BallY -= 2;
            if (BallY < 0) {
                IsUp = false;
            }
        }
        if(!IsLeft) {
            //Positive Y = down on screen
            BallX += 4;
            if (BallX > 204) {
                IsLeft = true;
            }
        }
        else {
            BallX -= 3;
            if (BallX < 0) {
                IsLeft = false;
            }
        }
       
    }

    function draw() {
        ctx.clearRect(0, 0, 200, 200);
        ctx.fillStyle = "#FF0000";
        ctx.beginPath();
        ctx.arc(BallX, BallY, 10, 0, Math.PI * 2, true);
        ctx.closePath();
        ctx.fill();
    }
</script>



