<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime
        maxRequestLength="2147483647"
        executionTimeout="300" />
  </system.web>
  <connectionStrings>
    <add name="RPGMasterDb" connectionString="server=localhost\SQLEXPRESS2012;database=rpgmaster;Integrated Security=SSPI;" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxReceivedMessageSize="524288000" />
        <binding name="mexHttpBinding" maxReceivedMessageSize="524288000" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Service1Behavior" name="Service1">
        <endpoint address="/" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Service1Behavior" />
      </service>
    </services>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <!--<baseAddressPrefixFilters>
        <clear/>
        <add prefix="http://www.antonmorgan.com/RPGSvc/"/>
      </baseAddressPrefixFilters>-->
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->

        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat ="Json" maxReceivedMessageSize="2147000000"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
